*{margin: 0; padding: 0;}
html{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

body{
    background: linear-gradient(90deg, rgba(120,155,235,1) 0%, rgba(195,104,55,1) 100%);;
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}